@import "~@/globalCss/color";
@import "~@/globalCss/mixins";

.order {
    .noMore {
        width: 100%;
        height: 80rpx;
        line-height: 80rpx;
        background-color: #fff;
        font-size: 40rpx;
        text-align: center;
    }
    .itemWrapper{
        .item {
            width: 100%;
            margin-bottom: 20rpx;
            background-color: #fff;
            box-sizing: border-box;
            padding: 20rpx 30rpx;
            .businessInfo {
                @include setFlex(space-between,flex-start);
                .info {
                    @include setFlex(flex-start,flex-start);
                    .imgWrapper {
                        margin-right: 20rpx;
                        .img {
                            width: 100rpx;
                            height: 100rpx;
                            border-radius: 20rpx;
                        }
                    }
                    .nameAndCreateTime {
                        .name {
                            font-size: 40rpx;
                            margin-bottom: 5rpx;
                            @include setFlex(flex-start,center);
                        }
                        .createTime {
                            color: #B0B0B0;
                            font-size: 24rpx;
                        }
                    }
                }
                .orderStatus {
                    font-size: 35rpx;
                    // font-weight: bold;
                }
            }
            .cartInfo {
                @include setFlex(space-between,center);
                box-sizing: border-box;
                height: 100rpx;
                width: 100%;
                padding: 20rpx 0 20rpx 120rpx;
                border-bottom: 1rpx solid #F1F1F1;
                border-top: 1rpx solid #F1F1F1;
                .cart {
                    color: #7A7A7A;
                    font-size: 30rpx;
                }
            }
            .btnWrapper {
                padding: 15rpx 0;
                // @include setFlex(flex-end,center);
                .btn {
                    padding: 0rpx 10rpx;
                    float: right;
                    margin-left: 20rpx;
                    line-height: 60rpx;
                    height: 60rpx;
                    font-size: 30rpx;
                    &-more {
                        border: 1rpx solid $themeBlue;
                        color: $themeBlue;
                    }
                    &-remark {
                        // height: 50px;
                        border: 1rpx solid #F4AA6E;
                        color: #F4AA6E;
                    }
                }
                &::after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }
        }
    }
}