$themeBlue: #02B6FD;//主题蓝色
$themeGray: #CDCDCD;//主题灰


$moneyColor: #FF5722;//关于钱的色

$businessTitle: #000;//商家标题
$businessShrotIntroduction_font: #FE7B13;//简短介绍文字色
$businessShrotIntroduction_bg: #FFEEE1;//简短介绍背景色
$businessMark_icon:#FF6300;//评分的星星图标色
$businessMark_num: #FF9857;//评分数的色