@import "~@/globalCss/color";

.menuItemList {
    height: 100%;
    box-sizing: border-box;
    padding: 5rpx 10rpx;
    .menuItemListWrapper {
        margin-bottom: 30rpx;
        &:last-child {
            margin-bottom: 0;
        }
        .menuType {
            height: 80rpx;
            line-height: 80rpx;
            .navTitle {
                font-size: 40rpx;
            }
            .titleIcon {
                font-size: 40rpx;
            }

        }
        .menuItemBox {
            .menuItem {
                display: flex;
                .imageBox {
                    margin-right: 20rpx;
                    .image {
                        width: 170rpx;
                        height: 170rpx;
                        border-radius: 30rpx;
                    }
                }
                .info {
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .mainInfo {
                        .item {
                            margin-bottom: 5rpx;
                            
                            &.menuTitle {
                                color: #000;
                                font-weight: bold;
                                font-size: 38rpx;
                            }
                            &.introduction,
                            &.sellPerMonth {
                                color: #808080;
                                font-size: 28rpx;
                            }
                            &.discount {
    
                            }
                        }
                        
                    }
                    .moneyAndNum {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .left {
                            display: flex;
                            align-items: center;
                            .nowPrice {
                                color: #f40;
                                font-size: 34rpx;
                            }
                            .originPrice {
                                text-decoration:line-through;
                                font-size: 28rpx;
                                color: #808080;
                            }
                        }
                        .right {
                            .chooseSpec {
                                padding: 5rpx 15rpx;
                                color: #fff;
                                background-color: $themeBlue;
                                border-radius: 10rpx;
                            }
                        }
                    }
                }
            }
        }
    }
}